button {
  background-color: #FFF;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #888888;
  height: 39px;
  margin-bottom: 142px;
  width: 260px;
}

h2 {
  color: #888888;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  margin: 164px 0 44px 0;
}

h3 {
  color: #888888;
  font-size: 14px;
  height: 16px;
  margin: 0 20px 39px 20px;
}

img {
  width: 200px;
  height: 150px;
}

input {
  border: 1px solid #707070;
  height: 30px;
  margin-bottom: 50px;
  width: 340px;
}

label {
  color: #888888;
  font-size: 12px;
  height: 14px;
}

.field {
  display: inline-block;
  margin: 0 20px;
  text-align: left;
}

#price {
  font-size: 16px;
  font-weight: bold;
  height: 19px;
  margin: 7px 0 0 0;
}

.product {
  display: inline-block;
  margin: 0 20.5px;
  text-align: left;
  width: 200px;
  button {
    width: 200px;
    height: 30px;
  }
  h3 {
    margin: 14px 0 0 0;
  }
  label {
    display: block;
    margin: 6px 0 0 0;
  }
  p {
    font-size: 12px;
    color: #888888;
    margin: 10px 0 0 0;
  }
}

#products {
  margin: 0 auto;
  width: 964px;
  text-align: left;
  button {
    margin: 10px 0 39px 0;
  }
}

@media (max-width: 968px) {
  #products {
    width: 482px;
  }
}

@media (max-width: 486px) {
  #products {
    width: 241px;
  }
}

#productsSection {
  text-align: center;
  h2 {
    margin: 48px 0 50px 0;
  }
}

#moreItensButton {
  margin: 4px 0 0 0;
}

#share {
  align-content: center;
  text-align: center;
}
