h2 {
  color: #888888;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  margin: 164px 0 44px 0;
}

h3 {
  color: #888888;
  font-size: 14px;
  height: 16px;
  margin: 0 20px 39px 20px;
}

input {
  border: 1px solid #707070;
  height: 30px;
  margin-bottom: 50px;
  width: 340px;
}

label {
  color: #888888;
  font-size: 12px;
  height: 14px;
}

#share {
  align-content: center;
  text-align: center;
}

.field {
  display: inline-block;
  margin: 0 20px 0 20px;
  text-align: left;
}

#productsList {
}

#sendButton {
  background-color: #FFF;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #888888;
  height: 39px;
  margin-bottom: 142px;
  width: 260px;
}
