<div id="productsList">
  <div id="prducts"></div>
  <div id="share">
    <h2>Compartilhe a novidade</h2>
    <h3>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</h3>
    <form [formGroup]="form" (ngSubmit)="share()">
      <div class="field">
        <label class="d-block">Nome do seu amigo:</label>
        <input class="d-block" type="text" maxlength="255" required formControlName="friendsName"/>
      </div>
      <div class="field">
        <label class="d-block">E-mail:</label>
        <input class="d-block" type="email" maxlength="255" required formControlName="email"/>
      </div>
      <div>
        <button [disabled]="form.invalid" id="sendButton">Enviar agora</button>
      </div>
    </form>
  </div>
</div>
