<header class="text-center">
  <div>
    <label id="line1" class="d-block">uma seleção de produtos</label>
    <label id="line2" class="d-block">especial para você</label>
    <label id="line3" class="d-block">Todos os produtos desta lista foram selecionados a partir da sua navegação.
      Aproveite!</label>
  </div>
  <div>
    <button><span>Conheça a Linx</span></button>
    <button><span>Ajude o algoritimo</span></button>
    <button><span>Seus produtos</span></button>
    <button><span>Compartilhe</span></button>
  </div>
</header>
