header {
  width: 100%;
  min-height: 319px;
  background: #707070 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  padding-bottom: 49px;
}

label {
  color: #FFF;
}

button,
button:focus {
  margin-top: 50px;
  width: 160px;
  height: 40px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 1px 6px #00000029;
  border: 1px solid #707070;
  color: #888888;
  border-radius: 4px;
  opacity: 1;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 20px;
  span {
    width: 92px;
    height: 16px;
  }
}

.button-group {
  display: inline;
}
@media (max-width: 800px)  {
  .button-group {
    display: block;
  }
}

#line1 {
  display: block;
  font-size: 20px;
  min-height: 23px;
  margin: 62px 20px 0 20px;
}

#line2 {
  display: block;
  font-size: 40px;
  font-weight: bold;
  min-height: 48px;
  margin: 0px 20px 0 20px;
}

#line3 {
  display: block;
  font-size: 14px;
  min-height: 16px;
  margin: 24px 20px 0 20px;
}
