footer {
  background: #707070 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  color: #FFF;
  min-height: 201px;
  opacity: 1;
  width: 100%;
}

label {
  display: block;
  font-size: 12px;
  margin: 0 20px 0 20px;
  min-height: 18px;
}

#footerText {
  margin-top: 64px;
}
