footer {
	color: #AA1423;
	text-align: center;
	height: 2.5em;
	width: 100%;
	margin: 2em;
}

header {
	text-align: center;
	width: 100%;
	height: 2.5em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

img {
	max-width: 100%;
}

.areaTitle {
	color: #AA1423;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 3em;
	text-align: center;
}

.top5HitsTab {
	color: #777;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	display: inline;
	float: right;
}

.top5UrlsTab {
	font-size: 1.5em;
	display: inline;
}

.top5Urls {
	color: #AA1423;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.top5Tr {
	border-bottom: 1px solid #EEE;
}

#chrdc {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding-left: 10%;
	vertical-align: middle;
	float: left;
}

#delete {
	font-size: 1.3em;
	cursor: pointer;
}

#facebook {
	margin-left: 2em;
}

#hitsArea {
	background-image: url("../Assets/background-grey.jpg");
	background-position: top;
	height: 15em;
	padding: 5em;
}

#inputLink {
	color: #FD6E12;
	font-size: 1.4em;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	width: 35%;
	margin-top: 4em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #FD6E12;
}

#inputLink:-moz-placeholder {
	color: #FD6E12;
	font-weight: 300;
}
#inputLink::-moz-placeholder {
	color: #FD6E12;
	font-weight: 300;
}
#inputLink:-ms-input-placeholder {
	color: #FD6E12;
	font-weight: 300;
}
#inputLink::-webkit-input-placeholder {
	color: #FD6E12;
	font-weight: 300;
}

#logoChaordic {
	padding-top: 0.5em;
	cursor: pointer;
}

#shorten {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 800;
	vertical-align: bottom;
	background-color: #FD6E12;
	height: 2.5em;
	width: 6.8em;
	margin-left: 0.5em;
	border: none;
	cursor: pointer;
}

#shortenArea {
	color: #FFF;
	text-align: center;
	background-image: url("../Assets/background-home.jpg");
	background-size: cover;
	height: 25em;
	padding: 10em;
}

#socialMedia {
	vertical-align: middle;
	padding-right: 12%;
	float: right;
}

#subheading {
	font-size: 1.4em;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
}

#textHits {
	color: #777;
	font-size: 1.2em;
	font-family: Roboto;
	text-align: center;
}

#title {
	font-family: 'Roboto Slab', serif;
	font-size: 3.2em;
	font-weight: 700;
}

#top5 {
	font-family: 'Roboto Slab', serif;
	margin: auto;
	border-collapse: collapse;
	width: 40em;
}

#top5Area {
	line-height: 2.8em;
	height: 32em;
	padding-top: 3em;
}

#totalHits {
	font-family: 'Roboto', sans-serif;
	color: #AA1423;
	font-size: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.3em;
	background-color: #FFF;
	width: 5em;
	height: 1.5em;
	border-radius: 5%;
}

#twitter {
	cursor: pointer;
}
