header {
  background: #707070 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  min-height: 319px;
  padding-bottom: 49px;
  opacity: 1;
  width: 100%;
}

h1 {
  color: #FFF;
}

button,
button:focus {
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  box-shadow: 0 1px 6px #00000029;
  color: #888888;
  font-size: 14px;
  height: 40px;
  margin: 50px 20px 0 20px;
  opacity: 1;
  width: 160px;
  span {
    height: 16px;
    width: 92px;
  }
}

.buttonGroup {
  display: inline-block;
}

@media (max-width: 800px)  {
  .buttonGroup {
    display: block;
  }
}

#line1 {
  display: block;
  font-size: 20px;
  margin: 62px 20px 0 20px;
  min-height: 23px;
}

#line2 {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 0 20px 0 20px;
  min-height: 48px;
}

#line3 {
  display: block;
  font-size: 14px;
  margin: 24px 20px 0 20px;
  min-height: 16px;
}
